<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Modifier Mail</title>
        <link rel="stylesheet" href="/stylesheets/connexion.css">
    </head>
    <body>
        <div id="container_2">
            <div id="titre">
                <h1>Modifier adresse mail</h1>
            </div>
            
            <div id="case">
                <div id="column_g">
                    <div id="formulaire">
                        <form action="/users/update_mail" method="post">
                            <div id="label_form">
                                <label for="mail">Ancienne adresse mail</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="email" id="old_mail" name="old_mail" required>
                            </div>
                            <div id="label_form">
                                <label for="mail">Nouvelle adresse mail</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="email" id="new_mail" name="new_mail" required>
                            </div>
                            <div id="label_form">
                                <label for="password">Mot de passe</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="password" id="password" name="password" required>
                            </div>
                            <button id="submit" type="submit">Modifier</button>
                        </form>
                    </div>
                </div>
                <div id="column_d">
                    <img src="/pictures/connexion.png" alt="Image d'illustration">
                </div>    
            </div>
        </div>
    </body>
</html>