<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Modifier Profil</title>
        <link rel="stylesheet" href="/stylesheets/connexion.css">
    </head>
    <body>
        <div id="container_2">
            <div id="titre">
                <h1>Modifier Profil</h1>
            </div>
            
            <div id="case">
                <div id="column_g">
                    <div id="formulaire">
                        <form action="/candidat/update_mdp" method="post">
                            <div id="label_form">
                                <label for="old_password">Ancien mot de passe</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="password" id="old_password" name="old_password" required>
                            </div>
                            <div id="label_form">
                                <label for="new_password">Nouveau mot de passe</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="password" id="new_password" name="new_password" required>
                            </div>
                            <div id="label_form">
                                <label for="new_password2">Ré-entrez votre nouveau mot de passe</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="password" id="new_password2" name="new_password2" required>
                            </div>
                            <button id="submit" type="submit">Modifier</button>
                        </form>
                    </div>
                </div>
                <div id="column_d">
                    <img src="../connexion.png" alt="Image d'illustration">
                </div>    
            </div>
        </div>
    </body>
</html>