<html>
    <head>
        <meta charset="utf-8">
        <title>Candidat</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div id="page">
            <div id="top_bar">
                <div id="home_button">
                    <a href="/candidat/candidat_main"><button id="menu">Menu</button></a>
                </div>
                <div class="new_org">
                    <a href="/candidat/create_orga"><button>Ajouter une nouvelle organisation</button></a>
                </div> 
                <div id="account">
                    <a href="/candidat/mes_candidatures"><button id="cand">Mes candidatures</button></a>
                    <a href="/candidat/candidat_account"><button id="account">Mon compte</button></a>
                </div>
            </div>
    
            <div id="container">
                <div id="offers">
                    <div id="label">
                        <label for="candidat">Devenir Recruteur</label>
                    </div>
                    <% offres.forEach((offre)=> { %>
                        <div id="off">
                            <div id="off_img">
                                <img src="../LOGO-META.webp" alt="Logo de l'entreprise">
                            </div>
                            <div class="entreprise">
                                <h1><%= offre.nom%></h1>
                                <p><%= offre.siren%></p>
                            </div>
                            <div class="desc">
                                <p><%= offre.type + ' - ' + offre.statut%></p>
                                <p><%= offre.description%></p>
                            </div>
                            
                            <div class="offer_button">
                                <button onclick="openOffre(this)">Demander à rejoindre</button>
                            </div>
                        </div>
                    <% }) %>
                    
                    <div class="pagination">
                        <a href="#" class="prev">&laquo; Previous</a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#" class="next">Next &raquo;</a>
                    </div>

                </div>
                <!--
                <div id="box">
                    <div id="toolbox">
                        <div id="search">
                            <div id="label">
                                <label for="search">Rechercher</label> <br>
                            </div>
                            <div id="input_search">
                                <input type="search" id="search" name="search" placeholder="Rechercher..." required>
                            </div>
                        </div>
                        <div id="label">
                                <label for="sort">Trier</label>
                        </div>
                        <select name="date" id="date">
                            <option value="" disabled selected hidden>Date</option>
                            <option value="recent">Récent</option>
                            <option value="ancien">Ancien</option>
                        </select>

                        <select name="date" id="distance">
                            <option value="" disabled selected hidden>Distance</option>
                            <option value="recent">X</option>
                            <option value="ancien">Y</option>
                        </select>
                        <div id="label">
                            <label for="filter">Filtrer</label>
                        </div>
                    </div>
                       
                </div>
                -->
            </div>
        </div>

        <script>
            function openOffre(button) {
                var offreDiv = button.closest('#off');
                var entrepriseDiv = offreDiv.querySelector('.entreprise');
                var numeroElement = entrepriseDiv.querySelector('p');
                var siren = numeroElement.textContent;
                console.log(`/candidat/rejoindre_orga/${siren}`);
                window.location.href = `/candidat/rejoindre_orga/${siren}`
            }
        </script>
    </body>
</html>