<html>
    <head>
        <meta charset="utf-8">
        <title>Candidat</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div id="page">
            <div id="div_center">
                <p>Êtes-vous sûr de vouloir supprimer cette candidature ?</p>
                <div id="div_center">
                    <a href="/candidat/confirmation"><button id="confirm">Confirmer</button></a>                
                </div>
                <div id="div_center">
                    <a href="/candidat/mes_candidatures"><button id="back">Annuler</button></a>                
                </div>
            </div>
        </div>
    </body>
</html>