<html>
    <head>
        <meta charset="utf-8">
        <title>Creation fiche de poste</title>
        <link rel="stylesheet" href="/stylesheets/connexion.css">
    </head>
    <body>
        <div id="container">
            <div id="titre">
                <h1>Création Fiche de Poste</h1>
            </div>
            <form action="/recruteur/confirm_fiche" method="post">
                <div id="case">
                    <div id="column_g">
                        <div id="formulaire">
                            <div id="label_form">
                                <label for="intitule">Intitulé</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="number" id="intitule" name="intitule" placeholder="Intitulé" required>
                            </div>
                            <div id="label_form">
                                <label for="resp">Responsable Hierarchique</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="text" id="resp" name="resp" placeholder="Entrez le nom" required>
                            </div>
                            <div id="label_form">
                                <label for="rythme">Rythme de travail</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="number" id="rythme" name="rythme" placeholder="Entrez le rythme" required>
                            </div>
                            <div id="label_form">
                                <label for="teletravail">Télétravail</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="text" id="teletravail" name="teletravail" placeholder="Non : 0, Oui : 1" required>
                            </div>
                            <div id="label_form">
                                <label for="sal_min">Salaire minimum</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="text" id="sal_min" name="sal_min" required>
                            </div>
                            <div id="label_form">
                                <label for="sal_max">Salaire maximum</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="text" id="sal_max" name="sal_max" required>
                            </div>
                            <div id="label_form">
                                <label for="desc">Description</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="text" id="desc" name="desc" placeholder="Dexription du rôle" required>
                            </div>
                            <div id="label_form">
                                <label for="type">Type de poste</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="text" id="type" name="type" placeholder="Entrez le type de poste" required>
                            </div>
                            <div id="label_form">
                                <label for="statut">Statut du poste</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="text" id="statut" name="statut" placeholder="Entrez le statut du poste" required>
                            </div>
                            <div id="label_form">
                                <label for="adr">Adresse</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="text" id="adr" name="adr" placeholder="Entrez l'adresse" required>
                            </div>
                            <div id="label_form">
                                <label for="orga">Organisation</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="text" id="orga" name="orga" placeholder="Entrez le numéro de siren" required>
                            </div>
                            <button id="submit" type="submit">Valider</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>