<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Modifier Candidature</title>
        <link rel="stylesheet" href="/stylesheets/connexion.css">
    </head>
    <body>
        <div id="container_2">
            <div id="titre">
                <h1>Modifier Candidature</h1>
            </div>
            
            <div id="case">
                <div id="column_g">
                    <div id="formulaire">
                        <form action="/candidat/confirm_modif_cand" method="post">
                            <% pieces.forEach((piece)=> { %>
                            <div id="label_form">
                                <label for="CV"><%= piece.type%></label> <br>
                            </div>
                            <div id="input_form">
                                <input type="file" id="CV" name="CV" placeholder="<%= piece.fichier%>" required>
                            </div>
                            <% }) %>
                            <button id="submit" type="submit">Modifier</button>
                        </form>
                    </div>
                </div>  
            </div>
        </div>
    </body>
</html>