<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Modifier Offre</title>
        <link rel="stylesheet" href="/stylesheets/connexion.css">
    </head>
    <body>
        <div id="container_2">
            <div id="titre">
                <h1>Modifier Offre</h1>
            </div>
            
            <div id="case">
                <div id="column_g">
                    <div id="formulaire">
                        <form action="/recruteur/confirm_modif_offre" method="post">
                            <div id="label_form">
                                <label for="date">Date Validité</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="datetime" id="date" name="date" value="<%= offre.date_validite%>" required>
                            </div>
                            <div id="label_form">
                                <label for="indications">Indications</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="text" id="indications" name="indications" value="<%= offre.indications%>" required>
                            </div>
                            <button id="submit" type="submit">Modifier</button>
                        </form>
                    </div>
                </div>  
            </div>
        </div>
    </body>
</html>