<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Modifier Offre</title>
        <link rel="stylesheet" href="/stylesheets/connexion.css">
        <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/locale/fr.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="titre">
                <h1>Modifier Offre</h1>
            </div>
            
            <div id="case">
                <div id="column_g">
                    <div id="formulaire">
                        <form action="/recruteur/confirm_modif_offre/<%=num%>" method="post">
                            <div id="label_form">
                                <label for="date">Date Validité</label> <br>
                            </div>
                            <div id="input_form">
                                <p id="datetime">Date de validité actuelle : <%= offre.date_validite%></p>
                                <input type="date" id="date" name="date" required>
                            </div>
                            <div id="label_form">
                                <label for="indications">Indications</label> <br>
                            </div>
                            <div id="input_form">
                                <input type="text" id="indications" name="indications" value="<%= offre.indications%>" required>
                            </div>
                            <button id="submit" type="submit">Modifier</button>
                        </form>
                    </div>
                </div>  
                <div id="column_d">
                    <img src="/pictures/connexion.png" alt="Image d'illustration">
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                formatDates();
            });

            function formatDates() {
            moment.locale('fr');
            const dateElement = document.querySelector('#datetime');
            const datetimeString = dateElement.textContent.trim();
            const formattedDate = moment(datetimeString.replace('Date de validité actuelle : ', '')).format('LLLL');
            dateElement.textContent = "Date de validité actuelle : " + formattedDate;

        }
        </script>
        
    </body>
</html>