<html>
    <head>
        <meta charset="utf-8">
        <title>Validation d'organisation</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div id="page">
            <div id="top_bar">
                <div id="home_button">
                    <a href="/auth/login"><button id="menu">Menu</button></a>
                </div>
                <div id="account">
                    <a href="/users/mon_compte"><button id="account">Mon compte</button></a>
                </div>
            </div>
    
            <div id="container">
                <div id="offers">
                    <div id="label">
                        <label>Espace Administrateur - Validation Organisations</label>
                    </div>        
                    <% orgas.forEach((orga)=> { %>
                        <div id="off">
                            <div id="off_img">
                                <img src="/uploads/<%=orga.logo%>" alt="Logo de l'entreprise">
                            </div>
                            <div class="entreprise">                                
                                <h1><%= orga.nom%></h1>
                                <p><%= orga.siren%></p>
                            </div>
                            <div class="desc">
                                <p><%= orga.type%></p>
                            </div>
                            <div class="offer_button">
                                <button onclick="openDemandeOrga(this)">Plus de détails</button>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <script>
            function openDemandeOrga(button) {
                var offreDiv = button.closest('#off');
                var idCandidatureElement = offreDiv.querySelector('.entreprise > p:last-child');
                var siren = idCandidatureElement.textContent.trim();
                console.log(`/candidat/voir-offre/${siren}`);
                window.location.href = `/admin/valide_orga/${siren}`;
            };
        </script>
    </body>
</html>