<html>
    <head>
        <meta charset="utf-8">
        <title>Administrateur</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div id="page">
            <div id="top_bar">
                <div id="home_button">
                    <a href="/auth/login"><button id="menu">Menu</button></a>
                </div>
                <div id="account">
                    <a href="/users/mon_compte"><button>Mon compte</button></a>
                </div>
            </div>
    
            <div id="admin_container">
                <div id="div_center">
                    <a href="/admin/admin_enr_orga"><button id="save_orga">Voir les demandes d'enregistrement d'organisation</button></a>
                </div>
                <div id="div_center">
                    <a href="/admin/admin_enr_recr"><button id="ins_recr_orga">Voir les demandes pour rejoindre une organisation <br> en tant que recruteur</button></a>
                </div>
                <div id="div_center">
                    <a href="/admin/admin_visu_acc"><button id="view_comptes">Visualiser les comptes</button></a>
                </div>
                
            </div>
        </div>
    </body>
</html>