body{
    text-align: center;
    display: flex;
    background-color: rgb(223, 223, 220);
}

#column_g{
    flex: 1;
}

#column_d{
    flex: 1;
}

#formulaire{
    border: 2px solid black;
    padding: 10px;
    margin: 50px;
    margin-left: 200px;
    background-color: white;
}

#ele{
    padding: 10px;
}

#button_compte{
    font-size: small;
}